body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-continer{
    display: flex;
    margin: 0px;
}
.width{
    width: 50%;
    padding-left: 4%;
    padding-top: 3%;
}
.img{
    width: 70%;
    
    
}
.link-botton{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color:white;
    font-weight: 700;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.imgs{
    width: 100%;
    padding-top: 150px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.padding{
    padding: 30px 40px;
    padding: bottom 40px; ;
}
.width-left{
    padding-left: 100px;
    padding-top: 200px;
}
.sawdo{
    width:100%;
    margin-left: 5%;
    margin-right:5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px gray;
    
    
}
h2{
    font-size: 45px;
}
.experience-area{
    padding-bottom: 50px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
   
    background-position: left;
}
#full-stack{
    border-left: 7px solid orangered;
}
#noobe{
    border-left: 7px solid blue;
}
footer{
    font-size: 30px;
    color: tomato;
    text-align: center;
}
b{
    font-size: 40px;
}